{{ define "main" }}
{{ if .IsTranslated }}
  <nav class="lingue-lista">
  {{ range .Translations }}
      <ul>
        <li><a href="{{ .Permalink }}" lang="{{ .Language.Lang }}">{{ .Language.LanguageName }}</a></li>
    </ul>
  {{ end}}
  </nav>
{{ end }}
<article class="articoli" lang="{{ .Language.Lang }}" role="article" itemscope itemtype="http://schema.org/Article">
<meta itemprop='inLanguage' content='{{ .Site.LanguageCode }}'/>
<meta itemprop='about' content='{{ .Description }}' />
<header role="banner">
  <div class="banner-articolo">
  <h1 class="titolo" itemprop="name headline">{{ .Title }}</h1>
  <h2 class="descrizione flipboard -subtitle" itemprop="subheading">{{if (isset .Params "sottotitolo")}} {{.Params.sottotitolo}} {{else}}{{ .Description }} {{end}}</h2>
  {{ $readingtime := .ReadingTime }}
  {{ $readingtimeone := 1 }}
  <figure class="immagine-principale" role="group" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <img  itemprop="image" src="{{ if (isset .Params "immagineprincipale") }}{{ .Params.immagineprincipale }}{{ else }}{{ .Params.immagine }}{{ end }}" alt="{{ .Params.descrizioneimg }}" class="immagine-articolo">
    <figcaption itemprop="caption">{{ .Params.descrizioneimg }}</figcaption>
    </figure>
</div>
    <div class="info articolo">
      {{ if (isset .Params "autore") }}<span itemprop="author" class="autore" title="{{ T "autoreinf"}}">{{ .Params.autore }}</span><span class="tempo-lettura-tempo"><span class="separatore"></span> <span class="tempo-lettura" role="img" aria-label="{{ T "tempo_lettura"}}" title="{{ T "tempo_lettura"}}"><span class="nascosto">{{ T "tempo_lettura"}}:</span></span> {{ .ReadingTime }} {{if eq $readingtime $readingtimeone}}{{T "lett_min"}}{{else}}{{ T "lett_mins"}}{{end}}</span>{{end}} {{ if (isset .Params "stelle") }}<span class="separatore"></span><span aria-hidden="true" title="{{ .Params.recensionevoto }}"> {{.Params.stelle}} </span> {{ end }}
    </div>
</header>
<div class="info articolo testo" id="postContent" itemprop="articleBody">
  <a class="noext" href="https://www.getyourguide.it/deals/black-friday/?partner_id=CSSHL9T&utm_medium=online_publisher&cmp=black_friday_2019" target="_blank" rel="nofollow"><div style="color: white; background: #dd3d57; width: 100%; padding: .2em"><div style="float: left; font-size: 2em; margin: 0 .5em 0 .5em;">!</div>Offerte <strong>Black Friday</strong> su GetYourGuide! <br> Approfitta <strong>di sconti fino al 25% su alcune attrazioni e attività</strong>. Clicca qui per scoprire di più oppure usa il codice <strong><i style="border: 1px solid white; padding: 0 .2em 0 .2em">"BLACKFRIDAY19"</i></strong> per avere uno sconto del 15% sui tuoi acquisti dai link che trovi in questa guida!</div></a>
    {{ .Content }}
    {{ if (isset .Params "prodottoamazon") }} {{- partial "compra.html" . -}} {{ end }}
</div>
  {{ if (isset .Params "categories") }}{{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="categoria">{{ . }}</a> {{end}}<br><br>{{ end }}
{{ if (isset .Params "date") }}<time class="data" itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" title="{{ T "datainf"}}">{{- .Date.Format "2/1/2006" -}}</time>{{ end }}
<span class="ultimamodifica">{{ if (isset .Params "lastmod") }}{{ T "ultima-modifica"}} <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" itemprop="dateModified">
 {{- .Lastmod.Format "2/1/2006" -}}</time>{{end}}</span>
</article>
{{ if (isset .Params "autore") }}
{{- partial "pubblicita.html" . -}}
<section class="articoli community" role="region">
  <div class= "info articolo">
    {{ T "esortazionecommenti"}} <a href="#c">{{T "vaiaicommenti"}}</a>
    {{- partial "condividi.html" . -}}
  <h2 id="c">{{ T "commenti"}}</h2><br>
  {{ T "commentiinfo"}}
  {{ template "_internal/disqus.html" . }}
  {{ $related := .Site.RegularPages.Related . | first 2 }}
  {{ with $related }}
  <h2> {{ T "vedi-anche"}} </h2>
  <div class="contenitore-ultimi-categoria-contenitore">
  <div class="contenitore-ultimi-categoria">
    {{ range . }}
    <a href="{{ .URL }}"><div class="articoli incategoria">
      <div class="contenitore-immagine">
     {{ if (isset .Params "immagine") }}<img src="{{ .Params.immagine }}" class="immagine-lista" alt="{{ .Title }}">{{end}}
     </div>
     <div class="info lista">
      {{ if (isset .Params "categories") }}<span class="categoria">{{.Params.categories}}</span> {{ end }}
      <h1 class="titolo-lista">{{ .Title }}</h1>
      <div class="pubblicato-lista">{{ if (isset .Params "autore") }}{{ T "scritto_da"}} {{ .Params.autore }}{{end}} {{ if (isset .Params "date") }}{{ T "il"}} <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{- .Date.Format "2/1/2006" -}}</time>{{end}}</div>
    </div>
    </div></a>
    {{ end }}
    </div>
    </div>
    </div>
  {{ end }}
</section>
{{ end }}
{{end}}
