{{ define "footerfiles" }}
<script id="dsq-count-scr" src="https://thatrocketx.disqus.com/count.js" async></script>
<script type="application/javascript">
	//External
function targetBlank() {
  // remove subdomain of current site's url and setup regex
  var internal = location.host.replace("www.", "");
      internal = new RegExp(internal, "i");
  var a = document.getElementsByTagName('a'); // then, grab every link on the page
  for (var i = 0; i < a.length; i++) {
    var href = a[i].host; // set the host of each link
    if( !internal.test(href) ) { // make sure the href doesn't contain current site's host
      a[i].setAttribute('target', '_blank'); // if it doesn't, set attributes
	a[i].setAttribute('rel', 'noopener');
    }
  }
};
targetBlank();
</script>
{{ end }}
{{ define "main" }}
{{ if .IsTranslated }}
  <nav class="lingue-lista">
  {{ range .Translations }}
      <ul>
        <li><a href="{{ .Permalink }}" lang="{{ .Language.Lang }}">{{ .Language.LanguageName }}</a></li>
    </ul>
  {{ end}}
  </nav>
{{ end }}
<div class="contenuto-contenitore {{ if not (isset .Params "autore") }}ufficiale{{end}}">
<article class="contenuto" lang="{{ .Language.Lang }}" role="article" itemscope itemtype="http://schema.org/Article">
<meta itemprop='inLanguage' content='{{ .Site.LanguageCode }}'/>
<meta itemprop='about' content='{{ .Description }}' />
<header role="banner">
  <div class="banner-articolo">
  <h1 class="titolo animated fadeInUp" itemprop="name headline">{{ .Title }}</h1>
  <h2 class="descrizione flipboard -subtitle" itemprop="subheading">{{if (isset .Params "sottotitolo")}} {{.Params.sottotitolo}} {{else}}{{ .Description }} {{end}}</h2>
  {{ $readingtime := .ReadingTime }}
  {{ $readingtimeone := 1 }}
  <figure class="immagine-principale" role="group" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <img  itemprop="image" src="{{ if (isset .Params "immagineprincipale") }}{{ .Params.immagineprincipale }}{{ else }}{{ .Params.immagine }}{{ end }}" alt="{{ .Params.descrizioneimg }}" class="immagine-articolo">
    <figcaption itemprop="caption">{{ .Params.descrizioneimg }}</figcaption>
    </figure>
</div>
    <div class="info articolo">
      {{ if (isset .Params "autore") }}<span itemprop="author" class="autore" title="{{ T "autoreinf"}}">{{ .Params.autore }}</span><span class="tempo-lettura-tempo"><span class="separatore"></span> <span class="tempo-lettura" role="img" aria-label="{{ T "tempo_lettura"}}" title="{{ T "tempo_lettura"}}"><span class="nascosto">{{ T "tempo_lettura"}}:</span></span> {{ .ReadingTime }} {{if eq $readingtime $readingtimeone}}{{T "lett_min"}}{{else}}{{ T "lett_mins"}}{{end}}</span><span class="separatore"></span> <span id="commenti-info-articolo">{{ T "commenti"}}:</span> <div class="comment-count"><a class="noext" onclick="showDisqus()" href="{{ .Permalink }}#disqus_thread">{{T "vaiaicommenti"}}</a></div>{{ end }}
    </div>
</header>
<div class="info articolo testo" itemprop="articleBody">
    {{.TableOfContents}}
    {{ .Content }}
</div>
  {{ if (isset .Params "categories") }}{{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="categoria">{{ . }}</a> {{end}}<br><br>{{ end }}
{{ if (isset .Params "date") }}<time class="data" itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" title="{{ T "datainf"}}">{{- .Date.Format "2/1/2006" -}}</time>{{ end }}
<span class="ultimamodifica">{{ if (isset .Params "lastmod") }}{{ T "ultima-modifica"}} <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" itemprop="dateModified">
 {{- .Lastmod.Format "2/1/2006" -}}</time>{{end}}</span>
</article>
</div>
{{ if (isset .Params "autore") }}
<aside class="sidebar">
	{{- partial "sidebar.html" . -}}
</aside>
{{ end }}

{{ if (isset .Params "autore") }}
<section class="contenuto community" role="region">
  <div class= "info articolo">
    <div style="font-size:1.3em;margin-bottom:10px">
    <img src="/commenti.svg" width="50" height="50" style="display:inline-block;float:left;margin-right:10px">
      {{ T "esortazionecommenti"}} <br><a href="#c" onclick="showDisqus()">{{T "vaiaicommenti"}}</a>
      </div>
      {{- partial "condividi.html" . -}}
    <h2 id="c">{{ T "commenti"}}</h2><br>
    {{ T "commentiinfo"}}
   <div class="disqus-comments">
    <div id="showcom">
    <button id="show-comments" type="button" class="bottone-commenti" onclick="showDisqus()">{{ T "leggi-i-commenti" }}</button>
    </div>
    <div id="disqus_thread"></div>
  </div>
  <script type="text/javascript">
    var disqus_config = function () {
      this.page.url = '{{ trim .Permalink "/" }}';
      this.page.title = '{{ .Title }}';
      this.page.identifier = '{{ .UniqueID }}';
    };
    function showDisqus() {
      var disqus = document.createElement('script');
      disqus.type = 'text/javascript';
      disqus.async = true;
      disqus.src = '//' + '{{.Site.DisqusShortname}}' + '.disqus.com/embed.js';
      document.body.appendChild(disqus);
      document.getElementById('showcom').remove();
    };
  </script>
{{ $related := .Site.RegularPages.Related . | first 2 }}
{{ with $related }}
<h2> {{ T "vedi-anche"}} </h2>
<div class="contenitore-ultimi-categoria-contenitore">
<div class="contenitore-ultimi-categoria">
  {{ range . }}
  <a href="{{ .URL }}"><div class="articoli incategoria">
    <div class="contenitore-immagine">
   {{ if (isset .Params "immagine") }}<img src="{{ .Params.immagine }}" class="immagine-lista" alt="{{ .Title }}">{{end}}
   </div>
   <div class="info lista">
    {{ if (isset .Params "categories") }}<span class="categoria">{{.Params.categories}}</span> {{ end }}
    <h1 class="titolo-lista">{{ .Title }}</h1>
    <div class="pubblicato-lista">{{ if (isset .Params "autore") }}{{ T "scritto_da"}} {{ .Params.autore }}{{end}} {{ if (isset .Params "date") }}{{ T "il"}} <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
      {{- .Date.Format "2/1/2006" -}}</time>{{end}}</div>
  </div>
  </div></a>
  {{ end }}
  </div>
  </div>
  </div>
{{ end }}
</section>
{{end}}
{{end}}
