<nav class="logo-nav" role="navigation">
      <div class="bg-light py-3 dark-bg-dark">
      <a href="{{ absLangURL "/" }}"><div class="logo-svg mx-auto d-block" aria-label="that Rocket X"><span class="sr-only">that Rocket X</span></div></a>
        </div>
      <input type="checkbox" class="d-none" id="menuapri"><label for="menuapri"><div class="hamburger-menu">
  <div class="bar top"></div>
  <div class="bar middle"></div>
  <div class="bar bottom"></div>
</div></label>
    <div class="navbar navbar-expand-md bg-primary bg-animated">
    <ul class="navbar-nav container-fluid mr-auto">
      <li class="nav-item"><a class="nav-link text-white" href="{{ T "tema1_l" }}">{{ T "tema1" }}</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="{{ T "tema2_l" }}">{{ T "tema2" }}</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="{{ T "tema3_l" }}">{{ T "tema3" }}</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="{{ T "tema4_l" }}">{{ T "tema4" }}</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="{{ T "tema5_l" }}">{{ T "tema5" }}</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="{{ T "tema6_l" }}">{{ T "tema6" }}</a></li>
      <li class="nav-item">
      <form class="form-inline my-2 my-lg-0" action="/search/">
        <input class="form-control mr-sm-2" name="s" type="search" placeholder="{{ T "cerca404" }}" aria-label="{{ T "cerca404" }}">
      </form>
      </li>
    </ul>
    </div>
</nav>
