<ins class="bookingaff" data-aid="1918304" data-target_aid="1918304" data-prod="banner" data-width="728" data-height="90" data-banner_id="94342" data-lang="it">
    <!-- Anything inside will go away once widget is loaded. -->
        <a href="//www.booking.com?aid=1918304">Booking.com</a>
</ins>
<script type="text/javascript">
    (function(d, sc, u) {
      var s = d.createElement(sc), p = d.getElementsByTagName(sc)[0];
      s.type = 'text/javascript';
      s.async = true;
      s.src = u + '?v=' + (+new Date());
      p.parentNode.insertBefore(s,p);
      })(document, 'script', '//aff.bstatic.com/static/affiliate_base/js/flexiproduct.js');
</script>
