<div class="border-left pl-4">
{{ $related := .Site.RegularPages.Related . | first 5 }}
  {{ with $related }}
  <h2> {{ T "vedi-anche"}} </h2>
    {{ range . }}
    <div class="card my-2 rounded-lg mw-700 mx-auto overflow-hidden" aria-describedby="sommario">
      <a href="{{ .URL }}" class="no-underline">
        <div class="card-img-top overflow-hidden ">
          {{ if and (isset .Params "videoself") }}
          <video autoplay loop muted playsinline class="of-cover w-100 h-100 lazyloaded" poster="{{ .Params.immagine }}" data-src="{{ .Params.videoseo }}" tabindex="-1"></video>
          {{else}}
            {{ if (isset .Params "immagine") }}<img data-src="{{ .Params.immagine }}" class="of-cover w-100 h-100 lazyloaded" alt="" aria-describedby="sommario">{{end}}
            {{end}}
        </div>
        <div class="card-body">
          <h1 class="h5 text-dark">{{ .Title }}</h1>

            {{ if (isset .Params "categories") }}{{range .Params.categories}}<span class="badge badge-secondary">{{ . }}</span> {{ end }} {{ end }}
            {{ if (isset .Params "cities") }}<span class="badge badge-secondary">{{ .Params.cities }} </span>{{ end }}{{ if (isset .Params "countries") }} <span class="badge badge-secondary"> {{ .Params.countries }} </span> {{ end }}

        </div>
      </a>
    </div>
    {{ end }}
    {{ end }}

<h2> {{T "ultimi-articoli" }}</h2>
{{ range  .Site.RegularPages | first 2 }}
{{ if not (isset .Params "nolist" ) }}
<div class="card my-2 rounded-lg mw-700 mx-auto overflow-hidden" aria-describedby="sommario">
  <a href="{{ .URL }}" class="no-underline">
    <div class="card-img-top overflow-hidden ">
      {{ if and (isset .Params "videoself") }}
      <video autoplay loop muted playsinline class="of-cover w-100 h-100 lazyloaded" poster="{{ .Params.immagine }}" data-src="{{ .Params.videoseo }}" tabindex="-1"></video>
      {{else}}
        {{ if (isset .Params "immagine") }}<img data-src="{{ .Params.immagine }}" class="of-cover w-100 h-100 lazyloaded" alt="" aria-describedby="sommario">{{end}}
        {{end}}
    </div>
    <div class="card-body">
        <h1 class="h5 text-dark">{{ .Title }}</h1>

          {{ if (isset .Params "categories") }}{{range .Params.categories}}<span class="badge badge-secondary">{{ . }}</span> {{ end }} {{ end }}
          {{ if (isset .Params "cities") }}<span class="badge badge-secondary">{{ .Params.cities }} </span>{{ end }}{{ if (isset .Params "countries") }} <span class="badge badge-secondary"> {{ .Params.countries }} </span> {{ end }}

    </div>
  </a>
</div>
    {{ end }}
    {{ end }}
{{ if (isset .Params "adside") }}
<hr>
{{.Params.adside | safeHTML }}
{{ end }}
</div>
