{{ $related := .Site.RegularPages.Related . | first 5 }}
  {{ with $related }}
  <h2> {{ T "vedi-anche"}} </h2>                
    {{ range . }}
    <a href="{{ .URL }}"><div class="articoli sideart">
      <div class="contenitore-immagine">
     {{ if (isset .Params "immagine") }}<img src="{{ .Params.immagine }}" class="immagine-lista" alt="{{ .Title }}">{{end}}
     </div>
     <div class="info lista"> 
      {{ if (isset .Params "categories") }}<span class="categoria">{{.Params.categories}}</span> {{ end }}
      <h1 class="titolo-lista">{{ .Title }}</h1> 
      <div class="pubblicato-lista">{{ if (isset .Params "autore") }}{{ T "scritto_da"}} {{ .Params.autore }}{{end}} {{ if (isset .Params "date") }}{{ T "il"}} <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{- .Date.Format "2/1/2006" -}}</time>{{end}}</div>
    </div>
    </div></a>
    {{ end }}
    {{ end }}

<h2> {{T "ultimi-articoli" }}</h2>
{{ range  .Site.RegularPages | first 2 }}    
{{ if not (isset .Params "nolist" ) }}
    <a href="{{ .URL }}"><div class="articoli sideart">
      <div class="contenitore-immagine">
     {{ if (isset .Params "immagine") }}<img data-src="{{ .Params.immagine }}" class="lazyload immagine-lista" alt="{{ .Title }}">{{end}}
     </div>
     <div class="info lista"> 
      {{ if (isset .Params "categories") }}<span class="categoria">{{.Params.categories}}</span> {{ end }}
      <h1 class="titolo-lista">{{ .Title }}</h1> 
      <div class="pubblicato-lista">{{ if (isset .Params "autore") }}{{ T "scritto_da"}} {{ .Params.autore }}{{end}} {{ if (isset .Params "date") }}{{ T "il"}} <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{- .Date.Format "2/1/2006" -}}</time>{{end}}</div>
    </div>
    </div></a>
    {{ end }}
    {{ end }}
{{ if (isset .Params "adside") }}
<hr>
{{.Params.adside | safeHTML }}
{{ end }}
